# MySQL server config "optimized" for a 16GB machine to serve a
# single connection (Ensembl database queries).
[mysqld]
# Only allow connections from localhost
bind-address = 127.0.0.1
max_connections = 4
key_buffer_size = 4GB
join_buffer_size = 256M
sort_buffer_size = 256M
query_cache_size = 0

# innodb_buffer_pool_size = 6GB

# myisam_data_pointer_size = 6
# myisam_max_sort_file_size = 9223372036853727232
# myisam_mmap_size = 18446744073709551615
# myisam_recover_options = OFF
# myisam_repair_threads = 1
# myisam_sort_buffer_size = 67108864
# myisam_stats_method = nulls_unequal
# myisam_use_mmap = OFF
